* text=auto

*.blade.php diff=html
*.css diff=css eol=lf
*.scss diff=scss eol=lf
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
